/*---------------------GENERAL-------------------*/
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'FONTSPRING DEMO-APPAREL', serif;
    font-weight: 300;
    color : white;
}

h2{
    font-family: "Playfair Display", serif;
    font-weight : 300;
    color : white;
}

h3{
    font-family : 'Baskerville Old Face';  
    color : white ;
    font-size: 12px;
}


p{
    margin : 0px;
    padding : 0px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

html, body{
    background-color: #0F0F0F;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

button {
    all: unset;
    cursor: pointer;
}


.gold-title{
    color: #E5C394;
}

.part-six-line-white{
    width: 200px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 40px;
}


.part-six-line-gold{
    background-color : #E5C394;
    width: 200px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 40px;
}








/*-------------------Welcome-Modal-------------------*/

.welcome-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0f0f0f, #070707);
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes slideDownFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome-modal.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.welcome-modal h2 {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFade 1s ease-out forwards;
    animation-delay: 0.2s;
}

.welcome-modal h3{
    opacity: 0;
    transform: translateY(50px);
    animation: slideUpFade 1s ease-out forwards;
    animation-delay: 0.4s;
}


.logo-welcome-eclipse h2{
    display : flex;
    justify-content : center;
    font-family : 'FONTSPRING DEMO-APPAREL', serif;
    font-size : 70px;
    font-weight: 100;
}

.logo-welcome-eclipse h3{
    display : flex;
    justify-content : center;
    font-family : 'Playfair Display', serif;
    font-size : 15px;
    font-weight: 100;
}












/*-------------------Animation-PART-ONE------------------*/

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}













/*-------------------Image de fond-------------------*/

.background-image-part-one{
    width : 100%;
    opacity : 0.07;
    position: absolute;
    height : 1000px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative; 
}









/*---------------------HEADER-------------------*/

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;   
    color: white;
    font-family: 'Playfair Display', serif;
    z-index: 100;
    padding-top: 35px;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 5%;
    font-size: 25px;
}

header nav a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    padding-bottom: 5px;
}
  

header nav a:hover::after {
    width: 100%;
}

.language-switcher {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 120px;
    font-size: 24px;
    color: white;
}

/*-----------------LOGO-HEADER-ECLIPSE-----------------*/


.logo-header-eclipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    transform: none;
    margin : 0px;
    z-index: 100;
}

.logo-header-eclipse:hover {
    cursor: pointer;
}

.logo-header-eclipse H3{
    font-weight : 300;
    font-family : 'FONTSPRING DEMO - Apparel', serif;
}

.logo-header-eclipse h2{
    font-family : "Playfair Display", serif;
    font-size : 50px;
    font-weight: 400;
}

.logo-header-eclipse p {
    font-family : serif;
    font-size : 25px;
    font-weight: 300;
}


/*---------------------PART-ONE--------------------*/

.part-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top : 230px;
    padding-bottom : 400px;
    margin : 0px 20px;
}

.part-one h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 85px;
    padding-bottom: 65px;
    line-height: 1;
    text-align : center;
}

.part-one-line{
    width: 100px;
    height: 1px;
    background-color: #E5C394;
    margin: 0 auto;
}

.part-one h3 {
    display : flex;
    justify-content: center;
    font-family : "Playfair Display", serif;
    color : #E5C394;
    font-weight: 300;
    font-size: 25px;
    padding-top: 15px;
}

.title-loft-1, .title-loft-2 {
    opacity: 0;
    transform: translateY(0);
}

.animate-title .title-loft-1 {
    animation: slideFromTop 1s ease-out forwards;
    animation-delay: 0s;
}

.animate-title .title-loft-2 {
    animation: slideFromBottom 1s ease-out forwards;
    animation-delay: 0.2s;
}
































/*---------------------PART-TWO--------------------*/

.part-two {
    margin : 0px;
}

.part-two-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top : 40px;
    margin : 0px 10%;
}
.part-two h1 {
    font-family : 'FONTSPRING DEMO-APPAREL', serif;
    color: white;
    font-size: 85px;
    padding-bottom : 20px;
}

.part-two h3 {
    font-family : "Playfair Display", serif;
    color : #E5C394;
    font-weight: 300;
    font-size: 30px;
    padding-bottom : 20px;
    padding-top: 15px;
}

.part-two p{
    font-family : "Playfair Display", serif;
    color : white;
    margin : 0px 10%;
}
/*---------------------SCROLLING IMAGES--------------------*/

.scrolling-images-part-two{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;   
    gap : 50px;
}

.scrolling-images-part-two img{
    width: clamp(1px, 24vw, 380px);
    height: auto;
}

.left-image img, 
.right-image img{
    width: clamp(1px, 22vw, 320px);
    height: auto;
}

.right-arrow, .left-arrow{
    display :flex;    
    align-items: center;
}

.fa-solid.fa-arrow-right, .fa-solid.fa-arrow-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.fade {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/*-----------------------------------------------------------*/
















/*---------------------PART-THREE-------------------*/
.part-three {
    padding-top : 100px;
    margin : 0px 20px;
}

.part-three-title h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    color : white;
    margin: 0;   
    padding-bottom : 40px;
    line-height: 1;
}

.part-three-line{
    width: 200px;
    height: 1px;
    background-color: #E5C394;
    margin: 0 auto;
}

.container-part-three {
    display : flex;
    justify-content: center;
    align-items: center;
    margin : 0px;
    padding : 50px 10% 100px 10%;
}

/*---------------------PART-THREE-IMG------------------*/

.part-three-img {
    max-width : 450px;
}

.part-three-img img{
    width : 100%;
    height : auto;
}

/*---------------------PART-THREE-TEXT-------------------*/


.part-three-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 60px;
    max-width : 45%;
}

.part-three-text h3{
    display : flex;
    justify-content: flex-start;
    font-weight: 300;
    font-size : 25px;
    color : #E5C394;
    font-family : "Playfair Display", serif;
    gap: 0px;
}

.part-three-text h2{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 50px;
    gap: 0px;
    color : white;
    font-family : "Playfair Display", serif;
}

.part-three-text p{
    display : flex;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 25px;
    color : white;
    font-family : "Playfair Display", serif;
    padding-top : 20px;
}

.gold-title-part-three{
    display: flex;
    justify-content: flex-start;
}






/*---------------------PART-THREE-CHOOSE-------------------*/

.part-three-choose{
    display : flex;
    justify-content: flex-start;
    margin-top: 30px;
    gap : 30px;
}

.part-three-choose-button{
   width : 110px;
   border : 1px solid white;
   cursor: pointer;
}

.part-three-choose-button:hover{
    opacity: 0.5;
 }


/*---------------------PART-THREE-ANIMATION-------------------*/

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}











/*---------------------PART-FOUR--------------------*/

.part-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom : 100px;
    margin : 0px 5%;
}

.part-four-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0px 5%;
}

.part-four h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    color : white;
    margin: 0;   
    padding-bottom : 20px;
    line-height: 1;
}

.part-four p{
    display : flex;
    justify-content: center;
    font-family : "Playfair Display", serif;
    color : white;
    font-weight: 300;
    font-size: 25px;
    padding-top : 20px;
    margin : 0px 10%;
}

/*---------------------PART-FOUR-IMG-------------------*/

.part-four-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 50px;
    gap : 5%;
    width : 100%;
}

.part-four-img img{
    border-radius : 5%;
    border : white 1px solid;
    width : 20%;
    height : auto;
    transition: transform 0.4s ease;
    max-width: 300px;
}

.part-four-img img:hover {
    transform: scale(1.1);
    cursor : pointer;
}

.part-four-img-bathroom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top : 50px;
    gap : 5%;
    width : 100%;
}

.part-four-img-bathroom img{
    border-radius : 5%;
    border : white 1px solid;
    width : 20%;
    height: auto;
    transition: transform 0.4s ease;
    max-width: 300px;
}

.part-four-img-bathroom img:hover {
    transform: scale(1.1);
    cursor : pointer;
}

  
/*---------------------PART-FOUR-ANIMATION-------------------*/

  #lightbox img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.8);
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
  }
  
  #lightbox-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 60px;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }

  #lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }












/*---------------------PART-FIVE--------------------*/

.part-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 0px 5%;
    padding-bottom: 50px;
}

.part-five h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    padding-top: 15px;
    color : white;
    margin: 0;   
    padding-bottom : 30px;
    line-height: 1;
    text-align: center;
}

.part-five-line{
    width: 300px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 40px;
}


/*-------------------CARD-PRICES-----------------*/

.card-prices {
    background-color: #121212;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    padding : 25px 10px;
    width : clamp(200px, 20vw, 300px);
    color : white;
}

.btn-download {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-download:hover {
  background-color: white;
  color: #0F0F0F;
  transform: scale(1.02);
  cursor: pointer;
}


/*---------------------PART-SIX-LOCATION--------------------*/

.part-six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom : 100px;
    margin : 0px 5%;
}

.part-six h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    margin: 0;   
    padding-bottom : 20px;
    color : #E5C394;
}

.part-six-location{
    display: flex;
    padding-top : 50px;
    color : white;
    gap : 50px;
}

.text-location{
    width : 50%;
}

.text-location p{
    width : 50%;
    font-family : "Playfair Display", serif;
    font-weight : 300;
    font-size : 35px;
}

.map-location{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

iframe{
    width : 350px;
    height : 400px;
}

/*----------------PART-SIX-EQUIPMENT--------------------*/

.part-six-container-equipment h2{
    display: flex;
    justify-content: center;
    color : #E5C394;
    font-size : 65px;
    padding-top : 15px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    padding-bottom: 30px;
}

.part-six-container-equipment 

.part-six-equipment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 20px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.card-equipment {
    background-color: #ebe6de;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;
    border : 2px solid #121212;
    width : clamp(300px, 40vw, 600px);
}

.part-six-equipment h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 25px;
    padding : 10px 0px;
    background-color: #d2b48c;
    color : #121212;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.part-six-equipment p {
    display: flex;
    justify-content: center;
    text-align: center;
    color : #121212;
    font-weight: 500;
    padding : 20px 0px;
    font-family:'Baskerville Old Face';
    margin : 0px 10px;
}

/*--------------PART-SIX-HOUSE-RULES-------------------*/

.container-part-six-house-rules-polices-notes {
    display:flex;
    justify-content: center;
    align-items: center;
    margin : 0px 5%;
    margin-top: 40px;
    padding-top :20px;
    padding-bottom : 40px;
    background-color: #121212;
}

.part-six-house-rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin : 0px 5%;
    width: 70%;
}

.container-part-six-house-rules-polices-notes h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color : #E5C394;
    font-family: "Playfair Display", serif;
}

.container-part-six-house-rules-polices-notes h3 {
    font-size: 30px;
    color : #E5C394;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    padding-top : 20px;
    
}

.container-part-six-house-rules-polices-notes p {
    color :white;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Baskerville Old Face', serif;
    padding : 20px 0px 0px 20px;
}


/*---------PART-SIX-POLICIES-AND-NOTES------------------*/

.part-six-policies-and-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0px 5%;
    width : 50%;
}

.part-six-policies-and-notes p {
    padding-top : 10px;
    padding-left :0px;
}

.part-six-policies-and-notes .part-six-line-white{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-part-six-house-rules-polices-notes .part-six-line-white{
    margin-top : 20px;
    margin-bottom: 20px;
}

.part-six-policies-and-notes img {
    margin-top : 70px;
    width : 30%;
    border : 1px solid white;
    border-radius: 10px;
}

/*----------------------CONTACT-----------------------*/

.part-contact {
    display: flex;
    align-items: center;
    padding-bottom : 50px;
    gap : clamp(40px, 5vw, 120px);
}

.part-contact-mail textarea {
    margin-top: 15px;
    padding : 10px 10px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #ebe6de;
    color: black;
    font-size: 16px;
    width: clamp(220px, 30vw, 350px);
    resize: none;
}

.part-contact-mail textarea::placeholder {
    color: black;      
    opacity: 1;        
}

.part-seven h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 65px;
    font-family: "Playfair Display", serif;
    font-weight : 300;
    color : white;
    margin: 0;   
    padding-bottom : 80px;
    padding-top : 70px;
    line-height: 1;
}

.part-contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 50%;
    line-height: 1;
}

.part-contact-text h3{
    font-family : "Playfair Display", serif;
    color : white;
    font-weight: 300;
    font-size: clamp(40px, 6vw, 60px);
}

.part-contact-text p{
    font-family : "Playfair Display", serif;
    color : #E5C394;
    font-weight: 300;
    font-size: clamp(20px, 3vw, 30px);
    padding-top : 20px;
    text-align: center;

}

/*---------------------FORMULAIRE-----------------------*/

.part-contact-mail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    width : 50%;
    color: white;
}


.part-contact-mail form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap : 15px;
}
  
.part-contact-mail input, textarea {
    margin-top : 15px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 1;
    background-color: #ebe6de;
    color: black;
    width : clamp(220px, 30vw, 350px);
    padding : 20px 10px;
}

.part-contact-mail p{
    font-size: 18px;
    color : #E5C394;
}

textarea::placeholder,
input::placeholder {
    color: white;
    opacity: 0.5;
}
  
.part-contact-mail button {
    display: flex;
    justify-content: center;
    background-color:#E5C394;
    padding: 15px 0px;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 700;
    font-size : 18px;
    width : 270px;
}
  

/*---------------------FOOTER-----------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color:	#121212;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.logo-footer-eclipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    transform: none;
    margin : 0px;
    cursor : pointer;
}

footer button {
    padding : 50px 0px;
}

.logo-footer-eclipse H3{
    font-weight : 300;
    font-family : 'FONTSPRING DEMO - Apparel', serif;
}

.logo-footer-eclipse h2{
    font-family : "Playfair Display", serif;
    font-size : 50px;
    font-weight: 400;
}

.logo-footer-eclipse p {
    font-family : serif;
    font-size : 25px;
    font-weight: 300;
}








/*--------------------Ordinateur (1024px et moins)--------------------*/

@media (max-width: 1024px) {

    .background-image-part-one{
        width : 100%;
        opacity : 0.07;
        position: absolute;
        height : 800px;
    }

    header nav {
        font-size: clamp(18px, 3vw, 24px);
        gap: clamp(5px, 3vw, 30px);
    }


    .hide-nav {
        display: none;
    }

    /*--------------PART ONE---------------*/

    .part-one h2{   
        font-size: 65px;
        padding-bottom: 30px;
    }

    /*--------------PART TWO---------------*/

    .part-two h1 {
        font-size: 65px;
    }

    .part-two h3{
        font-size: 25px;
    }

    .part-two p{
        font-size: 20px;
    }

    .scrolling-images-part-two{
        gap : 20px;
    }

    .left-arrow, .right-arrow{
        display : none;
    }

    /*--------------PART THREE---------------*/

    .part-three-img img {
        width: clamp(100px, 40vw, 365px);
    }

    .part-three-title h2 {
        font-size: clamp(20px, 7vw, 65px);
    }

    .part-three-choose img{
        width: clamp(30px, 10vw, 80px);
        height: auto;
    }

    .part-three-text h2{
        font-size: clamp(20px, 3vw, 40px);
    }

    .part-three-text h3{
        font-size: clamp(15px, 5vw, 30px);
    }
    .part-three-text p{
        font-size: 20px;
    }

    /*--------------PART FOUR---------------*/

    .part-four p{
        font-size: clamp(15px, 3vw, 18px);
    }

    /*--------------PART SIX---------------*/

    .container-part-six-house-rules-polices-notes {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap : 80px;
        margin : 0px;
        padding: 40px 0px 40px 0px;
    }
    /*--------------PART CONTACT---------------*/

    .part-contact {
        gap : 0px;
    }

    .part-contact-mail {
        width : 70%;
    }

    .part-contact-text{
        width : 30%;
        margin-left: 50px;
    }

    .part-contact-text h3{
        font-size: clamp(20px, 5vw, 60px);
    }

    .part-contact-text p{
        font-size: clamp(15px, 3vw, 30px);
    }

}



















/*-------------------- TABLETTE (768px et moins) --------------------*/
@media screen and (max-width: 768px) {

    header{
        display:flex;
        flex-direction: column;
        gap : 25px;
    }

    .logo-header-eclipse, .logo-footer-eclipse {
        text-align: center;
    }

    .background-image-part-one{
        width : 100%;
        opacity : 0.07;
        position: absolute;
        height : auto;
    }


    /*--------------PART ONE---------------*/

    .part-one h2{   
        font-size: clamp(30px, 5vw, 50vw);
    }

    /*--------------PART two---------------*/

    .scrolling-images-part-two img{
        min-width : 130px;
    }

    .main-image img{
        min-width : 150px;
    }

    .right-arrow, .left-arrow{
        display : none;
    }

    .part-two-text h1{
        font-size: clamp(10px, 10vw, 80px);
    }

    .part-two-text h3{
        font-size: clamp(10px, 5vw, 40px);
    }

    .part-two-text p{
        font-size: 15px;
        text-align: center;
        max-width : 50%;
    }
    
    /*--------------PART THREE---------------*/

    .part-three-text{
        padding-left: 10px;
        width : 90%;    
    }

    .part-three-choose img{
        width: clamp(40px, 10vw, 80px);
        height: auto;
    }

    .part-three-text h3{
        font-size: clamp(15px, 5vw, 30px);
    }

    .part-three-text p{
        font-size: clamp(10px, 3vw, 18px);
    }

    /*--------------PART FOUR---------------*/
    .part-four-img img{
        width : clamp(80px, 17vw, 200px);
    }

    .part-four p {
        font-size: clamp(14px, 3vw, 18px);
        width: 60%;
        padding-bottom: 20px;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .part-four h2 {
        font-size: clamp(20px, 7vw, 50px);
    }

    /*--------------PART FIVE---------------*/
    .part-five-container-prices {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .part-five h2 {
        font-size: clamp(20px, 7vw, 50px);
        width : 70%;
    }

    .part-five-container-prices{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-prices {
        width: clamp(150px, 80vw, 400px);
    }
    .part-five-container-prices {
        font-size: clamp(10px, 3vw, 16px);
    }
    .part-five-container-prices h3 {
        font-size: clamp(20px, 3vw, 25px);
        font-weight: 700;
    }

    .part-five-container-prices p {
        font-size: clamp(18px, 3vw, 22px);
        font-weight : 500;
    }

    /*--------------PART SIX---------------*/
    /*--------------PART SIX EQUIPEMENT ---------------*/
    .part-six-container-equipment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .part-six-container-equipment .part-six-equipment { 
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .part-six-container-equipment h2 {
        font-size: clamp(20px, 7vw, 50px);
        width: 70%;
    }

    .card-equipment {
        width: clamp(150px, 80vw, 400px);
    }

    .part-six-equipment h3 {
        font-size: clamp(20px, 3vw, 25px);
        font-weight: 800;
    }

    .part-six-equipment p {
        font-size: clamp(18px, 3vw, 22px);
        font-weight : 500;
    }

    /*--------------PART SEVEN---------------*/
    .part-seven {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .part-seven h2 {
        font-size: clamp(14px, 7vw, 50px);
        width: 70%;
        text-align: center;
    }

    
    /*--------------PART CONTACT---------------*/

    .part-contact-text h3{
        font-size: clamp(20px, 10vw, 60px);
    }

    .part-contact-mail input{
        width : clamp(200px, 40vw, 400px);
    }

    .part-contact-mail textarea{
        width : clamp(200px, 40vw, 400px);
    }

    .part-contact {
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }

    .part-contact-text{
        display: none;
    }

    .part-contact-mail label {
        width : clamp(250px, 40vw, 400px);
    }

    .part-contact-mail button{
        width : clamp(250px, 30vw, 400px);
    }

    .part-contact-mail form{
        width : 100%;
    }

    .part-contact-mail {
        width : 100%;
    }

}








/*-------------------- MOBILE (480px et moins) --------------------*/
@media screen and (max-width: 480px) {

    header nav{
        display : none;
    }

    .language-switcher {
        margin-top: 10px;
    }

    /*--------------PART ONE---------------*/

    .part-one{
        padding-top : 150px;
        padding-bottom : 100px;
    }

    .part-one h3 {
        font-size: 16px;
    }

    /*--------------PART TWO---------------*/

    .scrolling-images-part-two {
        display: flex;
        flex-direction: column;
    }

    .scrolling-images-part-two img{
        width : clamp(180px, 80vw, 300px);
    }

    /*--------------PART THREE---------------*/

    .part-three-text h2 {
        font-size: 20px;
    }

    .part-three-choose img {
        width: 60px;
        height: 60px;
    }

    .container-part-three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .part-three-img img{
        width: clamp(180px, 80vw, 300px);
    }

    .part-three-text{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width : 100%;
    }

    .part-three-choose img{
        width: clamp(50px, 20vw, 100px);
        height: auto;
    }

    /*--------------PART FOUR---------------*/
    .part-four p {
        width : 60%;
        font-size : clamp(10px, 4vw, 16px);
    }

    .part-four-img {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .part-four-img img {
        width : clamp(150px, 70vw, 300px);
    }

    .part-four-img-bathroom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .part-four-img-bathroom img {
        width : clamp(150px, 70vw, 300px);
    }

    /*--------------PART FIVE---------------*/
    .card-prices {
        font-size: 14px;
    }

    .part-five-container-prices {
        grid-template-columns: 1fr;
    }

    .card-equipment {
        font-size: 14px;
    }

    .part-contact-mail input,
    .part-contact-mail textarea {
        font-size: 14px;
    }

    .footer {
        font-size: 12px;
        text-align: center;
    }

    /*--------------PART SIX---------------*/

    iframe{
        width : 200px;
        height : 300px;
    }

    .part-six-house-rules {
        margin : 0px;
    }
    /*--------------PART SIX EQUIPEMENT ---------------*/

    .part-five-container-prices {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .part-five h2 {
        font-size: clamp(20px, 7vw, 50px);
        width : 70%;
    }


    .card-equipment {
        width: clamp(150px, 80vw, 400px);
    }
    .part-six-container-prices {
        font-size: clamp(10px, 3vw, 16px);
    }
    .part-six-container-prices h3 {
        font-size: clamp(16px, 3vw, 20px);
    }

    /*--------------PART CONTACT---------------*/

    .part-contact-mail label {
        width: clamp(200px, 35vw, 400px);
    }
}